<h1>Schedule Players for <%= @event.scheduled_date.to_formatted_s(:short) %></h1>

<% form_for @event, :url => update_schedule_event_path(@event) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'schedule', :locals => {:f => f} %>

<p>
  <%= f.submit 'Update' %>
</p>
<% end %>
